@page "/authorComponent"
@using MAN.Shared.Interfaces;
@using MAN.Shared.DTO;
@using MAN.Shared.Models;
@inject IAuthorService AuthorService
@inject NavigationManager Navigation
@rendermode InteractiveServer

@if (Author == null)
{
    <p>loading...</p>
}
else
{
    <div @onclick="Navigate" class="book-item">
            <h2><strong>Name:</strong> @Author.AuthorName</h2>
    </div>
}

@code {
    [Parameter]
    public AuthorDto? Author {get; set;}
    [Parameter]
    public string? NavigateTo {get; set;}
    private string? name;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //name = Author?.MiddleName == null ? $"{Author?.FirstName} {Author?.LastName}" : $"{Author?.FirstName} {Author?.MiddleName} {Author?.LastName}";
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching data: {ex.Message}");
        }
    }
    private void Navigate()
    {
        if (!string.IsNullOrEmpty(NavigateTo))
        {
            Navigation.NavigateTo(NavigateTo);
        }
    }
}