@page "/authorComponent"
@using MAN.Shared.Interfaces;
@using MAN.Shared.DTO;
@using MAN.Shared.Models;
@inject IAuthorService AuthorService
@inject NavigationManager Navigation
@rendermode InteractiveServer

@if (Author == null)
{
    <p>loading...</p>
}
else
{
    <div @onclick="Navigate" class="book-item">
            <h2>@Author.AuthorName</h2>
    </div>
}

@code {
    [Parameter]
    public AuthorDto? Author {get; set;}
    [Parameter]
    public string? NavigateTo {get; set;}
    private string? name;
    private void Navigate()
    {
        if (!string.IsNullOrEmpty(NavigateTo))
        {
            Navigation.NavigateTo(NavigateTo);
        }
    }
}