@page "/bookComponent"
@using MAN.Shared.Interfaces;
@using MAN.Shared.DTO;
@using MAN.Shared.Models;
@inject IBookService BookService
@inject IBookReadService BookReadService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider CustomAuthProvider
@inject IProfileService ProfileService
@rendermode InteractiveServer

@if (BookDto == null)
{
    <p>loading...</p>
}
else
{
    <div @onclick="Navigate" class="book-item">
        <ul>
            <li><strong>Title:</strong> @BookDto.Title</li>
            <li><strong>Author:</strong> @BookDto.AuthorName</li>
            <li><strong>Amount:</strong> @BookDto.Amount</li>
        </ul>
        @* @if (ChildContent != null)
    {
        <div>
       @ChildContent
       </div>
    } *@
    
    </div>
}

@code {
    //private BookDto? book;
    private Profile? profile;
    private BookRead? bookRead;

    @* [Parameter]
    public int Id { get; set; } *@

    [Parameter]
    public string? Username { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string? NavigateTo { get; set; }
    [Parameter]
    public BookDto? BookDto {get; set;} 

    protected override async Task OnInitializedAsync()
    {
        try
        {
            @* if (string.IsNullOrEmpty(Username))
            {
                Console.WriteLine("Username is null or empty.");
                return;
            } *@

            //book = await BookService.GetAsyncById(Id);
            @* if (book == null)
            {
                Console.WriteLine("Book not found.");
                return;
            } *@

            profile = await ProfileService.GetAsyncByUsername(Username);
            @* if (profile == null)
            {
                Console.WriteLine("Profile not found.");
                return;
            } *@

            bookRead = await BookReadService.GetAsyncById(profile.Id, BookDto.Id);
            @* if (bookRead == null)
            {
                Console.WriteLine("BookRead not found.");
            } *@
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching data: {ex.Message}");
        }
    }
    private void Navigate()
    {
        if (!string.IsNullOrEmpty(NavigateTo))
        {
            Navigation.NavigateTo(NavigateTo);
        }
    }

    public async Task RefreshBook()
    {
        //book = await BookService.GetAsyncById(Id); // Re-fetch the book data after borrowing
        bookRead = await BookReadService.GetAsyncById(profile.Id, BookDto.Id);
        StateHasChanged(); // Update the UI
    }
}