@page "/review/{id:int}"
@using MAN.Shared.Interfaces;
@using MAN.Shared.DTO;
@using MAN.Shared.Models;
@inject IBookReadService BookReadService
@rendermode InteractiveServer

<h3>Reviews</h3>

@if (bookReads == null)
{
    <p><em>Loading...</em></p>
}
else if (bookReads.Count == 0)
{
    <p>No reviews found for this book.</p>
}
else
{
   
     <div class="book-container">
    @foreach (var review in bookReads)
    {
        if (review.Review != null){
        <ReviewComponent BookRead="review" />
        }
    }
</div>
}


@code {
    private List<BookReadDto>? bookReads;
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        bookReads = await BookReadService.GetAsyncByBookId(Id);
    }
    

}
