@page "/authors"
@using MAN.Shared.Interfaces;
@using MAN.Shared.Models;
@using MAN.Shared.DTO;
@inject IAuthorService AuthorService
<h3>Authors</h3>

@if (authors == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var author in authors)
    {
    <div>
    <ul>
            <li>Name: @author.FirstName @author.LastName</li>
            <li>Books: @foreach (var book in author.Books){
                <ul>
                    <li>@book</li>
                </ul>} </li>
    </ul>
    </div>
    }
}

<button @onclick="AddAuthor">Add New Author</button>

@code {
    private List<AuthorDto>? authors;

    protected override async Task OnInitializedAsync()
    {
        // Load all authors when the page is initialized
        authors = await AuthorService.GetAllAsync();
    }

    private async Task AddAuthor()
    {
        var newAuthor = new Author
        {
            FirstName = "John",
            LastName = "Doe",
        };

        await AuthorService.Add(newAuthor);

        // Refresh the list of authors after adding a new one
        authors = await AuthorService.GetAllAsync();
    }
}