@page "/books"
@using MAN.Shared.Interfaces;
@using MAN.Shared.DTO;
@using MAN.Shared.Models
@inject IBookService BookService

<h3>Books</h3>

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="book-container">
        @foreach (var book in books)
        {
            <div class="book-item">
                <a href="/singleBook/@book.Id">
                    <h4>@book.Title</h4>
                    <p><strong>Author:</strong> @book.AuthorName</p>
                    <p><strong>Publisher:</strong> @book.Publisher</p>
                </a>
            </div>
        }
    </div>
}

<button @onclick="AddBook">Add New Book</button>
@code {
    private List<BookDto>? books;

    protected override async Task OnInitializedAsync()
    {
        books = await BookService.GetAllAsync();
    }

    private async Task AddBook()
    {
        var newBook = new Book
        {
            Id = 3,
            ISBN = "1243242",
            Title = "Book2",
            PageCount = 120,
            YearPublished = 1929,
            BindingTypeId = 3,
            PublisherId = 2,
            AuthorId = 3,
            Amount = 4
        };

        await BookService.Add(newBook);
        books = await BookService.GetAllAsync();
    }
    
}
