@page "/myBooks"
@using MAN.Shared.Interfaces;
@using MAN.Shared.DTO;
@using MAN.Shared.Models;
@inject IBookService BookService
@inject IBookReadService BookReadService
@inject IProfileService ProfileService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider CustomAuthProvider
<AuthorizeView>
    <Authorized>
<h3>My Books</h3>

@if (bookReads == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="book-container">
        @foreach (var book in bookReads)
        {
            <div class="book-item">
                <a href="/singleBook/@book.BookId">
                    <h4>@book.BookTitle</h4>
                    <p><strong>Author:</strong> @book.AuthorName</p>
                    </a>
            </div>
        }
    </div>
}
</Authorized>
@code {
    private List<BookReadDto>? bookReads;
    private Profile? profile;
    [Parameter]
    public string? Username { get; set; }
    public string? Review {get; set;}

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await CustomAuthProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                Username = user.Claims.First(claim => claim.Type.Equals("Username")).Value;
            }
            profile = await ProfileService.GetAsyncByUsername(Username);
            if (profile == null)
            {
                Console.WriteLine("Profile not found.");
            }

            bookReads = await BookReadService.GetAsyncByProfileId(profile.Id);
            if (bookReads == null)
            {
                Console.WriteLine("BookRead not found.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching data: {ex.Message}");
        }
    }
    
}
</AuthorizeView>