@inherits LayoutComponentBase
@using MAN.Shared.Interfaces;
@inject NavigationManager Navigation
@inject IAuthServiceWEB AuthService
@rendermode InteractiveServer

<header class="top-row">
    <div>
        <a class="navbar-brand" href="/">MAN Library</a>
        <a href="/">Home</a>
        <a href="/counter">Counter</a>
        <a href="/login">Login</a>
        <a href="/authors">Authors</a>
        <a href="/books">Books</a>
        <a href="/myBooks">My Books</a>
    </div>
    <AuthorizeView>
        <Authorized>
            <button @onclick="Logout">Logout</button>
        </Authorized>
    </AuthorizeView>
</header>

<main>
    <article class="content">
        @Body
    </article>
</main>

<footer class="footer">
    <p>&copy; 2024 MAN Library Management System</p>
</footer>

@code {
    private async Task Logout() {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/login");
    }
}
