<header class="navbar">
    <div class="navbar-brand">
        <a href="/">Library</a>
    </div>
    <nav>
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link" href="counter">Counter</NavLink>
        <NavLink class="nav-link" href="login">Login</NavLink>
        <NavLink class="nav-link" href="authors">Authors</NavLink>
        <NavLink class="nav-link" href="books">Books</NavLink>
        <NavLink class="nav-link" href="myBooks">My Books</NavLink>
    </nav>
</header>
